.blog-category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.category {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
