.blog-page-container {
  padding: 0 96px;
}

.banner-blog-container {
  background-color: #343a40;
  width: 100%;
  height: 280px;
  padding: 32px;
  box-sizing: border-box;
}

.banner-blog-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.banner-title {
  margin: 0;
  color: #fff;
  font-size: 32px;
}

.banner-desc {
  margin: 0;
  color: #fff;
}

.banner-readmore-text {
  margin: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 700;
  width: max-content;
  cursor: pointer;
  padding: 0;
}

.create-blog-btn {
  width: 100px;
  padding: 8px 4px;
  border-radius: 4px;
  outline: none;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.create-blog-btn:hover {
  border: 1px solid lightseagreen;
  color: lightseagreen;
  background-color: white;
}

@media screen and (max-width: 1240px) {
  .blog-page-container {
    padding: 0 32px;
  }

  .banner-blog-container {
    height: max-content;
    padding: 24px;
  }

  .banner-blog-content-container {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .blog-page-container {
    padding: 0 16px;
  }

  .banner-blog-container {
    padding: 20px;
  }

  .banner-blog-content-container {
    width: 100%;
  }
}
